@use "../../../../index.scss" as *;

.tabs {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 30px;
  align-self: center;
}

.tabButton {
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 0;

  &:hover {
    @include button-on-hover;
  }

  &.active {
    @include button-on-hover;
  }
}
