.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 84px;
  width: 400px;
}

.inputLabel {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--text-dark);
}

.inputItem {
  height: 56px;
  flex-direction: column;
  padding: 12px;
  display: flex;
  gap: 8px;
  border-radius: 12px;
  color: var(--text-placeholder-50);
  font-size: 16px;
  border: 1px solid var(--border-light);
  background: transparent;
}

.inputItem::placeholder {
  color: var(--text-placeholder-50);
}

.inputItem.invalid {
  border: 2px solid red;
}

.errorText {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  padding: 16px 0 16px 12px;
  color: #A1A8B3;
}

.select::-ms-expand {
  display: none;
}

.select::selection {
  background: #000;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 84px;
  width: 400px;
}

.inputLabel {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--text-dark);
}
